{% extends 'base.html' %}

{% block head %}
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
{% endblock head %}

{% block body %}
      <div class="row">
      <div class="col-md-12">
        <h2></h2>
        <form class="form-inline" role="form" method="get">
          <div class="form-group">
            <div class="input-group">
            <div class="input-group-addon">Website:</div>
            <select name="client" class="selectpicker showtick" data-width="300px" data-style="btn-inverse">
              {% for client in clients %}
              <option>{{client}}</option>
              {% endfor %}
            </select>
          </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Date Range:</div>
              <input name="from-date" class="form-control datepicker" placeholder="From Date" data-date="{{params['from_date']}}" data-date-format="yyyy-mm-dd" value="{{params['from_date']}}">
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="to-date">To Date</label>
              <input name="to-date" class="form-control datepicker" placeholder="To Date" data-date="{{params['from_date']}}" data-date-format="yyyy-mm-dd" value="{{params['to_date']}}">
          </div>
          <button type="submit" class="btn btn-primary">Go</button>
        </form>
      </div>
      </div>
      <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div id="vis"></div>
        </div>
      </div>
    </div>
    {{data_table | safe}}
{% endblock body %}

{% block js %}
  <script type="text/javascript">
  // parse a spec and create a visualization view
      $(function() {
        $('.datepicker').datepicker();
        $('.datepicker').on('changeDate', function(ev){
            $(this).datepicker('hide');
        });
        $('.selectpicker').selectpicker();
        $('select[name="client"]').val("{{params['client']}}");
        $('.selectpicker').selectpicker('refresh');
        chart_data = {{mpld3_data | safe}};
        mpld3.draw_figure("vis", chart_data);
    });
  </script>
{% endblock js %}
