{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
        <h2></h2>
        <form class="form-inline" role="form" method="get">
        <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Site:</div>
              <select name="client" class="selectpicker showtick" data-width="300px" data-style="btn-inverse">
                {% for client in clients %}
                <option>{{client}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="input-group">
            <div class="input-group-addon">Host:</div>
            <select name="content-host" class="selectpicker showtick" data-width="200px" data-style="btn-inverse">
              <option></option>
              {% for host in content_hosts %}
              <option>{{host}}</option>
              {% endfor %}
            </select>
          </div>
          </div>
          </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <!-- <div class="input-group-addon">Range:</div> -->
              <input name="from-date" class="form-control datepicker" placeholder="From Date" data-date="{{params['from_date']}}" data-date-format="yyyy-mm-dd" value="{{params['from_date']}}">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
          <input name="to-date" class="form-control datepicker" placeholder="To Date" data-date="{{params['from_date']}}" data-date-format="yyyy-mm-dd" value="{{params['to_date']}}">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
        </div>
        </form>
      <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div id="vis"></div>
        </div>
      </div>
    </div>
    {{data_table | safe}}
{% endblock body %}

{% block js %}
  <script type="text/javascript">
  // parse a spec and create a visualization view
      $(function() {
        $('.datepicker').datepicker();
        $('.datepicker').on('changeDate', function(ev){
            $(this).datepicker('hide');
        });
        $('.selectpicker').selectpicker();
        $('select[name="client"]').val("{{params['client']}}");
        $('select[name="content-host"]').val("{{params['content_host']}}");
        $('.selectpicker').selectpicker('refresh');
        chart_data = {{mpld3_data | safe}};
        mpld3.draw_figure("vis", chart_data);
    });
  </script>
{% endblock js %}
