<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Insight Data Engineering Project"/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <title>Dashboard</title>


    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="{{url_for('static', filename='dist/css/flat-ui.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/plugins/social-buttons.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <!-- Custom Fonts -->
    <link href="{{url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <link href="{{url_for('static', filename='datepicker/css/datepicker.css')}}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="dist/js/vendor/html5shiv.js"></script>
      <script src="dist/js/vendor/respond.min.js"></script>
    <![endif]-->
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div class="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('main.index')}}">Ramesh Sampath - Insight @ Embed.ly</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
              <li class="divider"></li>
              <li><a href="{{url_for('main.slides')}}">Slides</a>
              <li class="divider"></li>
              <li><a href="https://github.com/sampathweb/">Github</a>
              <li class="divider"></li>
              <li><a href="https://twitter.com/sampathweb/">Twitter</a>
              </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group">

       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Client<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Storify.com</a></li>
          <li><a href="#">Reddit.com/a></li>
          <li><a href="#"></a></li>
        </ul>

                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a class="active" href="{{url_for('main.index')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{url_for('main.viz_date')}}">Activity by Date</a>
                                </li>
                                <li>
                                    <a href="{{url_for('main.viz_content_host')}}">Acitivty by Source</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{{url_for('main.tab_events')}}"><i class="fa fa-table fa-fw"></i>Details Table</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>


      <div id="page-wrapper">
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">Date Range:</div>
      <input class="form-control datepicker" type="email" placeholder="From Date">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">To Date</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="To Date">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
        <form class="form-horizontal" role="form">
          <div class="form-group">
          <input class="datepicker" data-date="09/20/2014" data-date-format="mm/dd/yyyy">
          <input class="datepicker" data-date-format="mm/dd/yyyy">

        <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
          <input class="span2 datepicker" size="16" type="text" value="09-20-2014">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        </div>
        </form>
        {% block body %}{% endblock body %}
      </div>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename='dist/js/vendor/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='datepicker/js/bootstrap-datepicker.js')}}"></script>
    <script src="{{url_for('static', filename='dist/js/flat-ui.min.js')}}"></script>
    <script type="text/javascript">
      $('.datepicker').datepicker();
    </script>
    {% block js %}{% endblock js %}
  </body>
</html>
