{% extends 'base.html' %}
{% block body %}
    <div class="row">
      <div class="col-md-12">
        <h3 class="page-header"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
        <li>Select "Activity by Date" to compare loads and plays across time</li>
        <li>Select "Activity by Source" to compare plays across various content sources such as youtube, instagram, vimeo and vine</li>
        <li>Select "Table Details" to dive into details</li>
        </ul>
      </div>
    </div>
{% endblock body %}